extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/allQuestions.css")
block content
    
    h1= headline
    p= content
    script(src="/javascripts/index.js" type="module")
    div(class="all-questions-container")
        div(class="questions-area") 
            div(id='header')   
                h1 All Questions
            div(id= 'askQuestion')
                a(id= 'newQuestionButton' href='/questions/new') Ask Question
        
        each question in questions
            div(id=`post-container-${question.id}`).post-box
                
                a(href=`/questions/${question.id}`)= question.headline
                br
                if !countAnswers[question.id]
                    i 0 answers
                else if countAnswers[question.id] > 1
                    i #{countAnswers[question.id]} answers
                else if countAnswers[question.id] = 1
                    i #{countAnswers[question.id]} answer
                
                p= question.content
                    if user
                        if question.userId === user.id
                            form(action=`/questions/delete/${questionId}` method='post')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                button(id=question.id).delete-btn Delete