extends layout.pug

block content
    h1= headline
    p= content
    script(src="/javascripts/index.js" type="module")
    div(class="containerall")
        each question in questions
            div(id=`post-container-${question.id}`).post-box
                a(href=`/questions/${question.id}`)= question.headline
                p= question.content
                    if user
                        if question.userId === user.id
                            form(action=`/questions/delete/${questionId}` method='post')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                button(id=question.id).delete-btn Delete