extends layout.pug

block content

    h1= headline
    p= content
    form(action=`/questions/delete/${questionId}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button Delete Question
      a(href=`/questions/${questionId}` role='button') Cancel