extends layout.pug

include utils.pug

block content
    h2= question.headline
    p= question.content
    form(action=`/questions/${questionId}/answers/new` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Answer:", "content", "", "textarea")
        button Submit
        a(href=`/questions/${question.id}` role='button') Cancel
