extends layout.pug

include utils.pug

block content
    h1= headline
    p= content
    p= user.username
        h2 Answers
            script(src="/javascripts/index.js" type="module")
            each answer in answers
                div(id=`post-container-${answer.id}`).post-box
                    p= answer.content
                    if answer.userId === user.id
                        form(action=`/answers/delete/${answerId}` method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            button(id=answer.id).delete-btn Delete
