extends layout.pug

include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question.css")
block content
    div(class="containerall")
        h1= headline
        h2= content
        p= `Asked by ${username}`
        if specificQuestion.picture
            img(src=`${specificQuestion.picture}`)
        if user
            if specificQuestion.userId === user.id
                a(href=`/questions/edit/${specificQuestion.id}` id= 'deleteButton') Edit
                a(href=`/questions/delete/${specificQuestion.id}` id= 'deleteButton') Delete
        h2 Answers
            br
            script(src="/javascripts/index.js" type="module")
            br
            input(type='hidden' name='_csrf' value=csrfToken)

            a(id='newAnswerButton' href=`${specificQuestion.id}/answers/new`) New Answer

            each answer in answers
                div(id=`post-container-${answer.id}`).post-box
                    h6= answer.content
                    if answer.picture
                        div
                            img(src=`${answer.picture}`)
                    if user
                        if answer.userId === user.id
                            a(href=`/answers/edit/${answer.id}`)
                                button Edit
                            form(action=`/answers/delete/${answerId}` method='post')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                button(id=answer.id).delete-btn Delete
