extends layout.pug

include utils.pug

block content
    div(class="containerall")
        h1= headline
        p= content
        h3= username
        h2 Answers
            br
            script(src="/javascripts/index.js" type="module")
            br
            input(type='hidden' name='_csrf' value=csrfToken)
            a(id='newAnswerButton' href=`${specificQuestion.id}/answers/new`) New Answer
            each answer in answers
                div(id=`post-container-${answer.id}`).post-box
                    p= answer.content
                    if user
                        if answer.userId === user.id
                            a(href=`/answers/edit/${answer.id}`)
                                button Edit
                            form(action=`/answers/delete/${answerId}` method='post')
                                input(type='hidden' name='_csrf' value=csrfToken)
                                button(id=answer.id).delete-btn Delete
